@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    background-image: linear-gradient(to right top, #004cbe, #0089db, #00b8ca, #79dfb5, #ecffc2);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .2);
    padding: 40px;
}

.container h1 {
    font-size: 1.5em;
    color: rgb(31, 31, 31);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(192, 192, 192);
    box-shadow: inset 0 0 5px rgb(192, 192, 192, .5);
    outline: none;
    transition: .2s;
}

input:focus {
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
}

.generate-btn {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(to right top, #004cbe, #0089db, #00b8ca, #79dfb5, #ecffc2);
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.generate-btn:hover {
    transform: scale(1.02);
}

.qr-code-container {
    margin-top: 15px;
    border: 2px solid rgb(192, 192, 192, .5);
    box-shadow: 0 0 5px rgb(192, 192, 192, .5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.qr-code-container.hide {
    display: none;
}